<ngx-spinner></ngx-spinner>


<form [formGroup]="taskForm">
  <div class="row">
    <div class="col-sm-2 col-md-4 col-lg-1"><label for="">Project:</label></div>
    <div class="col-sm-5 col-md-8 col-lg-4"><input type="text" readonly formControlName="projectName" class="form-control"></div>
    <div class="col-sm-4 col-md-8 col-lg-2"> <button class="user-form-button" (click)="openProjectFormModal()">Select</button></div>
  </div>
</form>

<div class="row">
  <label for="sort" class="col-sm-2 col-lg-2"> Sort Task By: </label>
  <div class="col-lg-2 col-sm-3">
    <select [(ngModel)]="sortBy" class="form-control">
      <option value="startDate">Start Date</option>
      <option value="endDate">End Date</option>
      <option value="priority">Priority</option>
      <option value="completed">Completed</option>
    </select>
  </div>
</div>

<div class="row form-group">

</div>

<div class="row">

  <div class="" style="padding-left:15px;"><label for="">Priority From:</label></div>
  <div class="col-lg-1 col-sm-3"><input style="width:100px;" type="text" [(ngModel)]="startPriority" class="form-control"></div>
  <div class=""><label for="" style="margin-left:60px;">Priority To:</label></div>
  <div class="col-lg-1 col-sm-3"><input style="width:100px;" value="" type="text" [(ngModel)]="endPriority" class="form-control"></div>

  <div class="col-lg-1 col-sm-3" style="margin-left:50px;"><label for="">Start:</label></div>
  <div class="col-lg-2 col-sm-3"><input type="text" [(ngModel)]="startDate" class="form-control"></div>
  <div class="col-lg-1 col-sm-3"><label for="">End:</label></div>
  <div class="col-lg-2 col-sm-3"><input type="text" [(ngModel)]="endDate" class="form-control"></div>

</div>
<hr style="border-bottom: 1px dotted grey" />
<p></p>

<ng-container *ngIf="tasksList && tasksList.length > 0 ">
  <table id="dtBasicExample" class="table task-list">
    <thead class="">
      <th>Task</th>
      <th>Parent</th>
      <th>Priority</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasksList  | sort: sortBy          
          | paginate: { itemsPerPage: 5, currentPage: p }">
        <td class="task-name">{{ task.task }}</td>
        <td class="task-name">{{ task.parentTask}}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.startDate | date: 'MM/dd/yyyy'}}</td>
        <td>{{ task.endDate | date: 'MM/dd/yyyy' }}</td>
        <td>
          <input type="button" class="form-button btn-medium" (click)="onEdit(task)" [value]="task.status === 'Closed' ? 'View' : 'Edit'" />
        </td>
        <td>
          <input *ngIf="task.status !== 'Closed'" type="button" class="form-button btn-medium" (click)="onEnd(task)"
            value="End Task" />
          <input *ngIf="task.status === 'Closed'" type="button" class="form-button btn-medium" disabled="disabled"
            value="Task Ended" />
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</ng-container>

<ng-container *ngIf="(!tasksList || tasksList.length == 0) && !loadError">
  <div class="row">
    <h3 class="text-danger">No records are available.</h3>
  </div>
</ng-container>
<ng-container *ngIf="loadError">
  <h4 class=" text-danger">{{loadError}} </h4>
</ng-container>