<form [formGroup]="taskForm">
    <div class="row">
      <div class="col-lg-2 col-sm-6"><label for="">Task:</label></div>
      <div class="col-lg-4 col-sm-6"><input type="text" class="form-control" formControlName="task"></div>
    </div>
  
    
    <div class="row">
      <div class="col-lg-2 col-sm-6"><label for="">Priority:</label></div>
      <div class="col-lg-4 col-sm-6"><input type="range" min=0 max=30 class="slider" id="priorityInput" oninput="priorityOuput.value = priorityInput.value"
          formControlName="priority" />
        <b> Selected Priority: <output name="priorityOuput" id="priorityOuput">
            0
          </output></b>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-2 col-sm-6"><label for="">Parent Task:</label></div>
      <div class="col-lg-4 col-sm-6"><input type="text" class="form-control" maxlength="8" size="4" formControlName="parentTask">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-6"><label for="">Start Date:</label></div>
      <div class="col-lg-4 col-sm-6"><input type="date" class="form-control" formControlName="startDate"></div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-sm-6"><label for="">End Date:</label></div>
      <div class="col-lg-4 col-sm-6"><input type="date" class="form-control" formControlName="endDate"></div>
    </div>
  
    <div class="row">
      <div class="col-lg-2 col-sm-6"></div>
      <div class="col-lg-4 col-sm-6">
        <input type="submit" value="Add Task" class="form-button" (click)="onSubmit()"> &nbsp;
        &nbsp; <button class="form-button" (click)="clearFields()">Reset</button>
      </div>
    </div>
  
    <div class="form-group">
      <label for="" class="text-danger">Body (Below section will be updated on Add Task button click based on the Add
        Task service Response)</label>
      <textarea class="form-control bg-secondary text-white" cols=50 rows=6 value="{{addTaskResponse}}" disabled="disabled"></textarea>
    </div>
  </form>