.detail-seperator {
    text-align: left;
    margin-left: 0;
    border-bottom: 3px rgba(0, 51, 141) solid;
    width: 60%;
}

.dotted-line {
    border-bottom: 2px dotted rgba(0, 51, 141);
}

.col-lg-2-text {
    min-width: 20% !important;
}

@media only screen and (max-width: 720px) {
    .detail-seperator {
        width: 100%;
    }
}