<!--The content below is only a placeholder and can be replaced.-->
<div class="container add-task-form">
  <div class="row">
    <div class="col">
      <h4 class="title">Task Manager</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-md-3 col-lg-2">
      <a routerLink="/projects" routerLinkActive="selected-link">Add Project</a>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-2">
      <a routerLink="/add-task" routerLinkActive="selected-link">Add Task</a>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-2">
      <a routerLink="/users" routerLinkActive="selected-link">Add User</a>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-2">
      <a routerLink="/tasks" routerLinkActive="selected-link">View Tasks</a>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>