<ngx-spinner></ngx-spinner>
<div *ngIf="!loaded">Data loading. Please wait</div>
<div *ngIf="loaded">
  <div *ngIf="editMode">
    <h4 class="text-success">Update Task Details</h4>
    <hr />
  </div>

  <div *ngIf="viewMode">
    <h4 class="text-success">View Task Details</h4>
    <hr />
  </div>

  <ng-container *ngIf="addTaskError">
    <div class="alert alert-danger">{{addTaskError}}</div>
  </ng-container>

  <form [formGroup]="taskForm">

    <div class="row">
      <input type="hidden" class="form-control" formControlName="taskId">
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-2"><label for="">Project:</label></div>
      <div class="col-sm-6 col-md-8 col-lg-4"><input type="text" readonly formControlName="projectName" class="form-control"></div>
      <div class="col-sm-6 col-md-8 col-lg-2"> <button class="user-form-button" [disabled]="viewMode" (click)="openProjectFormModal()">Select</button></div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-2"><label for="">Task:</label></div>
      <div class="col-sm-6 col-md-8 col-lg-6"><input type="text" class="form-control" formControlName="task"></div>
    </div>

    <div class="row" style="margin-bottom: 0px;">
      <div class="col-sm-6 col-md-4 col-lg-2"><label for=""></label></div>
      <div class="col-sm-8 col-md-8 col-lg-6">
        <div class="form-check">
          <input type="checkbox" [checked]="isParentTask" class="form-check-input" id="isParentTask" (change)="toggleTaskFields($event)">
          Parent Task
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-2 col-lg-2"><label for="">Priority:</label></div>
      <div class="col-sm-9 col-md-8 col-lg-6">
        <ng5-slider [(value)]="value" [options]="options" formControlName="priority"></ng5-slider>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-2 col-lg-2"><label for="">Parent Task:</label></div>
      <div class="col-sm-6 col-md-8 col-lg-4"><input type="text" readonly class="form-control" formControlName="parentTask"></div>
      <div class="col-sm-6 col-md-8 col-lg-2"> <button class="user-form-button" [disabled]="isParentTask || viewMode" (click)="openParentTaskFormModal()">Select</button></div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2 col-lg-2"><label for="">Start Date:</label></div>
      <div class="col-sm-3 col-md-2 col-lg-3"><input type="date" class="form-control" formControlName="startDate"></div>
      <div class="col-sm-3 col-md-2 col-lg-2 end-date"><label for="">End Date:</label></div>
      <div class="col-sm-3 col-md-2 col-lg-3"><input type="date" class="form-control" formControlName="endDate"></div>
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-2 col-lg-2"><label for="">User:</label></div>
      <div class="col-sm-6 col-md-8 col-lg-4"><input type="text" readonly class="form-control" formControlName="userName"></div>
      <div class="col-sm-6 col-md-8 col-lg-2"> <button class="user-form-button" [disabled]="isParentTask || viewMode" (click)="openUserFormModal()">Select</button></div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-sm-6"></div>
      <div class="col-lg-4 col-sm-6">
        <ng-container *ngIf="!editMode && !viewMode">
          <input type="submit" value="Add Task" class="form-button" (click)="onSubmit()"> &nbsp;
          &nbsp; <button class="form-button" (click)="clearFields()">Reset</button>
        </ng-container>
        <ng-container *ngIf="viewMode">
          &nbsp; <button class="form-button" (click)="onCancel()">Go Back</button>
        </ng-container>
        <ng-container *ngIf="editMode">
          <input type="submit" value="Update" class="form-button" (click)="onSubmit()"> &nbsp;
          &nbsp; <button class="form-button" (click)="onCancel()">Cancel</button>
        </ng-container>
      </div>
    </div>

    <!--
  <div class="form-group">
    <label for="" class="text-danger">Body (Below section will be updated on Add Task button click based on the Add
      Task service Response)</label>
    <textarea class="form-control bg-secondary text-white" cols=50 rows=6 value="{{addTaskResponse}}" disabled="disabled"></textarea>
  </div>
  -->
  </form>
</div>