/* You can add global styles to this file, and also import other style files */

.ngx-pagination {
  padding-left: 0px;
}

.add-task-form .row {
  margin-bottom: 15px;
}

.add-task-form .row label {
  font-weight: bold;
}

img {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

a {
  font-weight: bold;
}

a {
  color: #4f4f4f !important;
}

a:hover {
  text-decoration: none !important;
}

.selected-link {
  color: blue !important;
}

.active-link {
  background: #4f4f4f;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #4f4f4f;
  color: white;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
  background-color: #ECEFF1;
  color: black;
}

.form-button {
  width: 120px;
  color: black;
  border: 1px solid black;
}

.user-form-button {
  width: 160px;
}

.btn-medium {
  width: auto;
}

.form-control {
  background-color: #eee !important;
}

.task-list.table {
  border-spacing: 10px;
  border-collapse: unset;
}

.task-list th, .task-list td {
  padding: 4px !important;
  border: none !important;
}

.task-name {
  background-color: #eee;
  width: 25%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: grey;
  cursor: pointer;
}

/* default .loading styles, .loading should be invisible, opacity: 0, z-index: -1 */

.loading {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: -1;
}

/* .loading screen is visible when app is not bootstrapped yet, my-app is empty */

app-root:empty+.loading {
  opacity: 1;
  z-index: 100;
}